:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #E7E9FC;
    --primary-brand-color: #4D5AE5;
    --secondary-bg-color: #F4F4FD;
    --primary-white-color: #FFFFFF;
    --messages-color: #31D0AA;
    --subtle-text-color: #8E8F99;
}

html {
    box-sizing: border-box;
}

*,
*::before
*::after {
box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}

h1,
h2,
h3,
p,
ul {
margin: 0;
padding: 0;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* ___Header___ */

.page-header {
box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
box-shadow: 0px 1px 1px 0px rgba(46, 47, 66, 0.16);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.main-nav,
.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.header-wrap {
    color: var(--primary-brand-color);
}


.site-nav {
    display: flex;
    margin-left: 77px;
}

.site-nav .item {
    margin-right: 40px;
}

.site-nav .item:last-child {
    margin-right: 0px;
}

.site-nav .link{ 
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--primary-text-color);
}
.site-nav .link:active {
    color: var(--primary-brand-color);
}

.site-nav .link.current {
    color: var(--primary-brand-color);
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .item + .item {
    margin-left: 40px;
}

.contacts .list .link{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: normal;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts .list .link:hover,
.contacts .list .link:focus {
    color: var(--primary-brand-color);
}

/* Герой */

.hero {
    background-color: var(--title-text-color);
    text-align: center;
    margin-bottom: 120px;
    padding-top: 192px;
    padding-bottom: 192px;
}


.hero .title {
    color: var(--primary-white-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
}

.hero .button-primary {
    min-width: 170px;
    padding: 16px 32px;
    margin: 0 auto;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    display: block;
    color: var(--primary-white-color);
    background-color: var(--primary-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-color: transparent;
    border-radius: 4px;
}

.hero .button-primary:active {
    background-color: #404BBF;
}

/* OUR FEATURES */

.section .no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.feature {
    margin-top: 0;
    display: flex;
    margin-left: auto;
    align-items: center;
}


.feature .list .title {
    margin-bottom: 8px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.feature .list .text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.feature .list .item {
    margin-right: 24px;
    width: 264px;
}

.feature .list .item:last-child {
    margin-right: 0px;
}

/* ____ABOUT US____ */

.about {
    display: flex;
    margin-left: auto;
}

.about-title {
    margin-top: 120px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.about .list {
    margin-top: 72px;
}

.about .list .item {
    margin-right: 24px;
}

.about .list .item:last-child {
    margin-right: 0px;
}

/* ___OUR TEAM___ */

.team {
    background-color: var(--secondary-bg-color);
    margin-top: 120px;
    display: flex;
    margin-left: auto;
    text-align: center;
}

.team-title {
    padding-top: 120px;
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
}

.team .list {
    padding-bottom: 120px;
}

.team .list .title {
margin-bottom: 8px;
margin-top: 32px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-text-color);
}

.team .list .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
}

.team .list .item {
    margin-right: 24px;
    background-color: var(--primary-white-color);
}

.team .list .item:last-child {
    margin-right: 0px;
}



/* СТИЛІ ДЛЯ ПОРТФОЛІО */

/* Кнопки */

.button {
    padding: 12px 24px;
    text-align: center;
    color: var(--primary-brand-color);
    background-color: var(--secondary-bg-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-color: transparent;
}

.button:hover,
.button:focus {
    color: var(--secondary-bg-color);
    background-color: var(--primary-brand-color);
}

.button-current {
    padding: 12px 24px;
    color: var(--secondary-bg-color);
    background-color: var(--primary-brand-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-color: transparent; 
}

/* ___FILTERS___ */

.filter {
    display: flex;
    justify-content: center;
}

.filter .item {
    margin-top: 96px;
    margin-right: 24px; 
}
.filter .item:last-child {
    margin-right: 0px;
}




/* Список проектів */

.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.portfolio .item {
    margin-top: 72px;
   
}


.portfolio-link {
    text-decoration: none;
}

.portfolio-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* FOOTER */

.page-footer {
    padding-left: 156px;
    padding-right: auto;
    background-color: var(--title-text-color);
}

.footer-logo {
    padding-top: 100px;
    padding-bottom: 16px;
    color: var(--secondary-bg-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-wrap {
    color: var(--primary-brand-color);
}

.footer-text {
    padding-bottom: 100px;
    width: 264px;
    color: var(--accent-color);
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}